<h3>Counter2</h3>

<p>State Service Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>



<p>Parameter Current count: @ParameterCurrentCount</p>

<button class="btn btn-primary" @onclick="parameterCount">Click me</button>


@code {
    [Inject] IStateService StateService { get; set; }

    [Parameter] public IStateService ParameterCountStateService { get; set; }


    private int currentCount = 0;
    
    private int ParameterCurrentCount = 0;


    private void IncrementCount()
    {
        var result = StateService.Get<Count>(typeof(Count).FullName);
        if (result != null)
        {
            currentCount = result.Current;
        }

        currentCount++;
        StateService.AddOrUpdate<Count>(typeof(Count).FullName, new Count(currentCount));
    }

    private void parameterCount()
    {
        var result = ParameterCountStateService.Get<Count>(typeof(Count).FullName);
        if (result != null)
        {
            ParameterCurrentCount = result.Current;
        }

        ParameterCurrentCount++;
        ParameterCountStateService.AddOrUpdate<Count>(typeof(Count).FullName, new Count(ParameterCurrentCount));
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Console.WriteLine($"In OnAfterRenderAsync of : {this.GetType().Name}, firstRender is: {firstRender}");
    }
}
